services:
  api_test:
    build:
      context: .
      dockerfile: Dockerfile
    command: sh -c "pytest -v"
    ports:
      - "8001:8000"
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db_test:5432/db_challenge_test
    depends_on:
      db_test:
        condition: service_healthy
    volumes:
      - ./app:/app/app
      - ./tests:/app/tests
    working_dir: /app
    networks:
      - test_network

  db_test:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=db_challenge_test
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data_test:/var/lib/postgresql/data
    ports:
      - "5431:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - test_network

networks:
  test_network:
    driver: bridge

volumes:
  postgres_data_test: